.buttonRow {
  overflow-y: auto;
  white-space: nowrap;
  margin-left: -22px;  
  margin-right: -22px;
  margin-bottom: -22px;
  padding: 24px;
}
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;  
  } 
  ::-webkit-scrollbar-thumb {
    background: rgb(171, 166, 166); 
    border-radius: 50px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: rgb(116, 108, 108); 
  }